{% load static %}

<footer class="bg-dark text-light px-5 d-flex justify-content-center">
    <div>
        <img src="{% static 'shop/images/header_logo_200.jpg' %}" alt="header logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 text-center">
                <h4 class="footer-heading mb-4">فضای مجازی ما</h4>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2 text-center">
                <div>
                    <strong>Copyright &copy; 2023 <a href="#">تمام حقوق این نرم‌افزار برای فروشگاه حمایت محفوظ است</a></strong>
                </div>
            </div>
        </div>
    </div>
</footer>