<li class="li-nav">
    <a href="{% url 'shop:home' %}" class="nav-link text-light
    {% if request.resolver_match.url_name == 'home' %}bg-warning text-dark{% endif %}">خانه</a>
</li>
<li class="li-nav dropdown d-none d-xl-inline ml-1 p-2">
    <a class="dropdown text-light
    {% if 'product' in request.resolver_match.url_name %}
    bg-warning text-dark{% endif %}">محصولات</a>
    <div class="dropdown-content bg-dark">
        <a class="text-light" href="{% url 'shop:all_products' 'hc' %}">صنایع دستی</a>
        <a class="text-light" href="#">مواد غذایی</a>
        <a class="text-light" href="#">لوازم خانگی</a>
        <a class="text-light" href="#">تفریح و گردشگری</a>
        {% comment %} <a class="text-light" href="{% url 'shop:all_products' 'fs' %}">مواد غذایی</a>
        <a class="text-light" href="{% url 'shop:all_products' 'ha' %}">لوازم خانگی</a>
        <a class="text-light" href="{% url 'shop:all_products' 'rt' %}">تفریح و گردشگری</a> {% endcomment %}
    </div>
</li>
<li class="li-nav d-xl-none" id="collapse-menu">
    <a class="btn btn-default text-light text-right collapsed" id="collapse-btn" data-toggle="collapse" data-target="#submenu">
        <span class="ml-5">محصولات</span>
        <span class="icon-chevron-left mr-5"></span>
    </a>
    <div class="collapse bg-light" id="submenu">
        <a href="{% url 'shop:all_products' 'hc' %}">صنایع دستی</a>
        <a href="#">مواد غذایی</a>
        <a href="#">لوازم خانگی</a>
        <a href="#">تفریح و گردشگری</a>
    </div>
</li>
<li class="li-nav">
    <a href="{% url 'shop:shop_cart' %}" class="nav-link text-light
    {% if request.resolver_match.url_name == 'shop_cart' %}bg-warning text-dark{% endif %}">
        <span>سبد خرید</span>
        <span class="badge badge-danger text-light">
            {% if cart_count %}{{ cart_count }}{% else %}0{% endif %}
        </span>
    </a>
</li>
<li class="li-nav">
    <a href="{% url 'shop:news_letters' %}" class="nav-link text-light
    {% if request.resolver_match.url_name == 'news_letters' or request.resolver_match.url_name == 'news_detail' %}
    bg-warning text-dark{% endif %}">خبرنامه</a>
</li>
<li class="li-nav">
    <a href="#" class="nav-link text-light">کمک های مردمی</a>
</li>
<li class="li-nav">
    <a href="{% url 'shop:contact_us' %}" class="nav-link text-light
    {% if request.resolver_match.url_name == 'contact_us' %}bg-warning text-dark{% endif %}">تماس با ما</a>
</li>