<li><a href="{% url 'shop:home' %}" class="nav-link">خانه</a></li>
<li class="dropdown d-none d-xl-inline">
    <a class="nav-link dropdown">محصولات</a>
    <div class="dropdown-content">
        <a href="{% url 'shop:all_products' 'hc' %}">صنایع دستی</a>
        <a href="{% url 'shop:all_products' 'fs' %}">مواد غذایی</a>
        <a href="{% url 'shop:all_products' 'ha' %}">لوازم خانگی</a>
        <a href="{% url 'shop:all_products' 'rt' %}">تفریح و گردشگری</a>
    </div>
</li>
<li class="d-xl-none" id="collapse-menu">
    <a class="btn btn-default text-right collapsed" id="collapse-btn" data-toggle="collapse" data-target="#submenu">
        <span class="ml-5">محصولات</span>
        <span class="icon-chevron-left mr-5"></span>
    </a>
    <div class="collapse bg-light" id="submenu">
        <a href="{% url 'shop:all_products' 'hc' %}">صنایع دستی</a>
        <a href="{% url 'shop:all_products' 'fs' %}">مواد غذایی</a>
        <a href="{% url 'shop:all_products' 'ha' %}">لوازم خانگی</a>
        <a href="{% url 'shop:all_products' 'rt' %}">تفریح و گردشگری</a>
    </div>
</li>
<li>
    <a href="{% url 'shop:shop_cart' %}" class="nav-link">
        <span>سبد خرید</span>
        <span class="badge badge-danger text-light">
            {% if cart_count %}{{ cart_count }}{% else %}0{% endif %}
        </span>
    </a>
</li>
<li><a href="{% url 'shop:news_letters' %}" class="nav-link">خبرنامه</a></li>
<li><a href="{% url 'shop:contact_us' %}" class="nav-link">تماس با ما</a></li>