{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}| تماس با ما{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {% include "shop/partials/cart_modal.html" with message=message products='' %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="site-section bg-light" id="contact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 mb-5">

                    <form class="p-5 bg-white" method="post">
                        {% csrf_token %}
                        <h2 class="h4 text-black mb-5">فرم تماس با ما</h2>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.full_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.subject|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-secondary">{{ form.message.label }}*</label>
                                {% if form.message.errors %}
                                    {{ form.message|add_class:"form-control border border-danger"|attr:"rows:5"|attr:"placeholder:پیام خود را اینجا وارد کنید" }}
                                    {% for error in form.message.errors %}
                                        <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
                                    {% endfor %}
                                {% else %}
                                    {{ form.message|add_class:"form-control"|attr:"rows:5"|attr:"placeholder:پیام خود را اینجا وارد کنید" }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="ارسال" style="font-size: 1rem;"
                                class="btn btn-outline-info btn-block rounded py-3 px-4 mt-3">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript">
        $(document).ready(function(){
            $('#exampleModal').modal({show:true});
        });
    </script>
{% endblock %}