{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="site-blocks-cover mb-5" 
    style="background-image: url({% static 'shop/images/handicrafts_banner.jpg' %});"
    data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row mb-4">
                        <div class="col-md-7">
                            <h1 class="bg-dark d-inline rounded" style="font-size: 3.5rem">فروشگاه حمایت</h1>
                            <div class="mt-4">
                                <a href="#" 
                                class="btn btn-light text-info py-3 px-5 
                                rounded mb-lg-0 mb-2 d-block d-sm-inline-block" 
                                style="font-size: 1.5rem">کمک های مردمی</a>
                                <a href="#products-section" 
                                class="btn btn-info py-3 px-5 rounded d-block mr-sm-3
                                d-sm-inline-block" style="font-size: 1.5rem">فروشگاه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section mt-5" id="products-section">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h2 class="section-title mb-5 text-center">دسته بندی محصولات</h2>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item">
                        <figure>
                            <img src="{% static 'shop/images/handicrafts_cat.jpg' %}" alt="handicrafts_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>صنایع دستی</h3>
                            <div class="mt-5">
                                <a href="#" class="btn btn-warning btn-outline-warning ml-1 rounded-0">مشاهده محصولات</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item">
                        <figure>
                            <img src="{% static 'shop/images/foods_cat.jpg' %}" alt="foods_cat" class="img-fluid">
                        </figure>
                        <div class="px-5">
                            <h3>مواد غذایی</h3>
                            <div class="mt-5">
                                <a class="btn btn-warning btn-outline-warning ml-1 rounded-0">مشاهده محصولات</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item">
                        <figure>
                            <img src="{% static 'shop/images/home_appliances_cat.jpg' %}" alt="home_appliances_cat" class="img-fluid">
                        </figure>
                        <div class="px-5">
                            <h3>لوازم خانگی</h3>
                            <div class="mt-5">
                                <a class="btn btn-warning btn-outline-warning ml-1 rounded-0">مشاهده محصولات</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item">
                        <figure>
                            <img src="{% static 'shop/images/tourism_cat.jpg' %}" alt="tourism_cat" class="img-fluid">
                        </figure>
                        <div class="px-5">
                            <h3>تفریح و گردشگری</h3>
                            <div class="mt-5">
                                <a class="btn btn-warning btn-outline-warning ml-1 rounded-0">مشاهده محصولات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h3 class="section-sub-title">خبرنامه</h3>
                    <h2 class="section-title mb-3">تازه ترین خبرها</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="h-entry text-center">
                        <img src="{% static 'shop/images/news1.jpg' %}" alt="news1" class="img-fluid">
                        <h2 class="font-size-regular">
                            <a href="#" class="text-black">
                                برپایی غرفه در نمایشگاه بین المللی
                            </a>
                        </h2>
                        <div class="meta mb-4">نام نویسنده <span class="mx-2">&bullet;</span> تاریخ خبر<span
                                class="mx-2"></div>
                        <p>
                            برپایی غرفه در نمایشگاه بین المللی به مناسبت فرارسیدن شب یلدا جهت کسب درآمد بنفع خانواده های محترم زندانیان
                        </p>
                        <p><a href="#">ادامه خواندن خبر ...</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="h-entry text-center">
                        <img src="{% static 'shop/images/news2.jpg' %}" alt="news2" class="img-fluid">
                        <h2 class="font-size-regular">
                            <a href="#" class="text-black">
                                توزیع سبد کالا ،کارت هدیه و غذای گرم به مناسبت شب یلدا
                            </a>
                        </h2>
                        <div class="meta mb-4">نام نویسنده <span class="mx-2">&bullet;</span> تاریخ خبر<span
                                class="mx-2"></div>
                        <p>
                            در روز پنجشنبه مورخ ۲۳ آذر ماه  این انجمن به مناسبت فرا رسیدن  شب یلدا  اقدام به تهیه وتوزیع سبد کالا شامل: .
                        </p>
                        <p><a href="#">ادامه خواندن خبر ...</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="h-entry text-center">
                        <img src="{% static 'shop/images/news3.jpg' %}" alt="news3" class="img-fluid">
                        <h2 class="font-size-regular">
                            <a href="#" class="text-black">
                                جلسه با کارشناسان محترم دفتر امور پیشگیری از وقوع جرم دادگستری استان مرکزی
                            </a>
                        </h2>
                        <div class="meta mb-4">نام نویسنده <span class="mx-2">&bullet;</span> تاریخ خبر<span
                                class="mx-2"></div>
                        <p>
                            روز سه شنبه مورخ ۱۴۰۲/۰۹/۱۴ جلسه ای باحضور سرکار خانم اسفندانی و جناب آقای هاشمی کارشناسان محترم 
                        </p>
                        <p><a href="#">ادامه خواندن خبر ...</a></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="site-section" id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="mb-4 text-center text-dark">درباره ما</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}