{% extends "shop/base.html" %}
{% load static %}
{% load jformat %}

{% block content %}
    <div class="site-blocks-cover" 
        style="background-image: url({% static 'shop/images/handicrafts_banner.jpg' %});"
        data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container p-0">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-md-7 offset-md-4">
                            <h1 class="bg-dark d-inline rounded border border-light p-2 mr-xl-4" 
                            style="font-size: 3.5rem">
                                <span>فروشگاه حمایت</span>
                            </h1>
                            <div class="mt-5">
                                <a href="#" 
                                class="btn btn-light text-info py-3 px-5 
                                rounded mb-lg-0 mb-2 d-block d-sm-inline-block" 
                                style="font-size: 1.5rem">کمک های مردمی</a>
                                <a href="#products-section" 
                                class="btn btn-info py-3 px-5 rounded d-block mr-sm-3
                                d-sm-inline-block" style="font-size: 1.5rem">فروشگاه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section mt-0" id="products-section">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h2 class="section-title mb-5 text-center text-secondary">دسته بندی محصولات</h2>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/handicrafts_cat.jpg' %}" alt="handicrafts_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>صنایع دستی</h3>
                            <div class="mt-5">
                                <a href="{% url 'shop:all_products' 'hc' %}" 
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/foods_cat.jpg' %}" alt="foods_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>مواد غذایی</h3>
                            <div class="mt-5">
                                <a href="#"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                                {% comment %} <a href="{% url 'shop:all_products' 'fs' %}"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/home_appliances_cat.jpg' %}" alt="home_appliances_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>لوازم خانگی</h3>
                            <div class="mt-5">
                                <a href="#"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                                {% comment %} <a href="{% url 'shop:all_products' 'ha' %}"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/tourism_cat.jpg' %}" alt="tourism_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>تفریح و گردشگری</h3>
                            <div class="mt-5">
                                <a href="#"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                                {% comment %} <a href="{% url 'shop:all_products' 'rt' %}"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light" id="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h3 class="section-sub-title">خبرنامه</h3>
                    <h2 class="section-title mb-3">تازه ترین خبرها</h2>
                </div>
            </div>

            <div class="row">
                {% for news in news_letters %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="h-entry text-center">
                            <img src="{{ news.news_img.url }}" alt="news image" class="img-fluid">
                            <h2 class="font-size-regular">
                                {{ news.title }}
                            </h2>
                            <div class="meta mb-4">{{ news.author }} 
                                <span class="mx-2">&bullet;
                                </span>{{ news.create_date|jformat:'%d / %m / %Y' }}<span class="mx-2">
                            </div>
                            <p>{{ news.content|truncatewords:10 }}</p>
                            <p><a href="{% url 'shop:news_detail' news.get_slug %}">ادامه خواندن خبر ...</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="site-section" id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="mb-4 text-center text-dark">درباره ما</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}