{% extends "shop/base.html" %}
{% load static %}
{% load jformat %}

{% block content %}
    <div class="site-section" id="carousel-section">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h3 class="section-title mb-5 text-center text-secondary">تازه ترین محصولات</h3>
                </div>
                <div class="col-12">
                    {% if new_products %}
                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner text-center rounded shadow-lg">
                                {% for product in new_products %}
                                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                        <img src="{{ product.product_img.url }}" 
                                        class="d-block w-100" alt="{{ product.title }}" height="500">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h3>{{ product.title }}</h3>
                                            <a href="{% url 'shop:single_product' product.category.main_cat product.get_slug %}" 
                                            class="btn btn-info"
                                            style="font-size: 1.3rem">مشاهده جزئیات</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="alert alert-danger text-secondary text-center p-5 w-100" style="font-size: 1.5rem">
                            <span class="icon-shopping-cart"></span>
                            <span>محصولی وجود ندارد</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="site-section mt-0" id="products-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-title mb-5 text-center text-secondary">دسته بندی محصولات</h3>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 shadow-sm">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/handicrafts_cat.jpg' %}" alt="handicrafts_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>صنایع دستی</h3>
                            <div class="mt-5">
                                <a href="{% url 'shop:all_products' 'hc' %}" 
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 shadow-sm">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/foods_cat.jpg' %}" alt="foods_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>مواد غذایی</h3>
                            <div class="mt-5">
                                <a href="#"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                                {% comment %} <a href="{% url 'shop:all_products' 'fs' %}"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 shadow-sm">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/home_appliances_cat.jpg' %}" alt="home_appliances_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>لوازم خانگی</h3>
                            <div class="mt-5">
                                <a href="#"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                                {% comment %} <a href="{% url 'shop:all_products' 'ha' %}"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 shadow-sm">
                    <div class="product-item bg-light p-3 rounded">
                        <figure>
                            <img src="{% static 'shop/images/tourism_cat.jpg' %}" alt="tourism_cat" class="img-fluid">
                        </figure>
                        <div>
                            <h3>تفریح و گردشگری</h3>
                            <div class="mt-5">
                                <a href="#"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a>
                                {% comment %} <a href="{% url 'shop:all_products' 'rt' %}"
                                class="btn btn-warning btn-outline-warning ml-1 rounded">مشاهده محصولات</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light" id="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h3 class="section-sub-title">خبرنامه</h3>
                    <h2 class="section-title mb-3">تازه ترین خبرها</h2>
                </div>
            </div>

            <div class="row">
                {% for news in news_letters %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="h-entry text-center">
                            <img src="{{ news.news_img.url }}" alt="news image" class="img-fluid">
                            <h2 class="font-size-regular">
                                {{ news.title }}
                            </h2>
                            <div class="meta mb-4">{{ news.author }} 
                                <span class="mx-2">&bullet;
                                </span>{{ news.create_date|jformat:'%d / %m / %Y' }}<span class="mx-2">
                            </div>
                            <p>{{ news.content|truncatewords:10 }}</p>
                            <p><a href="{% url 'shop:news_detail' news.get_slug %}">ادامه خواندن خبر ...</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="site-section" id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="mb-4 text-center text-dark">درباره ما</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('.carousel').carousel({
            interval: 3000
            })
    </script>
{% endblock %}