{% extends "shop/products/base_products.html" %}
{% load static %}

{% block title %}| 
    {% if group == 'hc' %}
        محصولات صنایع دستی  
    {% elif group == 'fs' %}
        محصولات مواد غذایی  
    {% elif group == 'ha' %}
        محصولات لوازم خانگی  
    {% else %}
        تفریح و گردشگری 
    {% endif %}
{% endblock %}

{% block cat_title %}
    {% if group == 'hc' %}
        محصولات صنایع دستی  
    {% elif group == 'fs' %}
        محصولات مواد غذایی  
    {% elif group == 'ha' %}
        محصولات لوازم خانگی  
    {% else %}
        تفریح و گردشگری 
    {% endif %}
{% endblock %}

{% block cat_list %}
    {% include "shop/products/components/cat_list.html" with base_url='shop:all_products' group=group categories=categories %}
{% endblock %}

{% block product_card %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {% include "shop/partials/cart_modal.html" with message=message products=hand_products %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for product in products %}
        <div class="mt-3 col-12 col-md-6 col-lg-4 col-xl-3">
            {% include "shop/products/components/single_card.html" with product=product cart_products=cart_products detail_url='shop:single_product' group=group slug=product.get_slug %}
        </div>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% include "shop/partials/pagination.html" with page_obj=page_obj base_url='shop:all_products' group=group category=request.GET.category %}
{% endblock %}


{% block script %}
    <script type="application/javascript">
        $(document).ready(function(){
            $('#exampleModal').modal({show:true});
        });
    </script>
{% endblock %}