{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="card bg-secondary margin-card">
                    <div class="card-header d-flex flex-column flex-md-row justify-content-between">
                        <h4 class="text-light">{% block cat_title %}{% endblock %}</h4>
                        <div class="w-50">
                            <form 
                            action="{% url 'shop:search_products' request.resolver_match.kwargs.group %}">
                                <div class="input-group">
                                    <input type="serach" placeholder="جستجوی محصولات" 
                                    class="form-control" name="product_search"
                                    value="{{ request.GET.product_search }}">
                                    <div class="input-group-append rounded-left">
                                        <div class="input-group-text bg-info">
                                            <span class="icon-search text-light"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-3" id="cat-list">
                            {% block cat_list %}{% endblock %}
                        </div>
                        
                        <div class="row px-2">
                            {% block product_card %}{% endblock %}
                        </div>

                        <div class="row mt-5 p-0">
                            {% block pagination %}{% endblock %}
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

