{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="card bg-light margin-card">
                    <div class="card-header text-info h4">محصولات {% block cat_title %}{% endblock %}</div>
                    <div class="card-body">
                        <div class="mb-3" id="cat-list">
                            {% block cat_list %}{% endblock %}
                        </div>
                        
                        <div class="row px-2">
                            {% block product_card %}{% endblock %}
                        </div>

                        <div class="row mt-5 p-0">
                            {% block pagination %}{% endblock %}
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

