{% extends "shop/products/base_products.html" %}
{% load static %}

{% block title %}| محصولات صنایع دستی{% endblock %}

{% block cat_title %}جزئیات محصول{% endblock %}

{% block cat_list %}
    {% include "shop/products/components/cat_list.html" with base_url='shop:all_products' group=group categories=categories %}
{% endblock %}

{% block product_card %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {% include "shop/partials/cart_modal.html" with message=message products=products %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="mt-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        {% include "shop/products/components/single_card.html" with product=product detail_url='' cart_products=cart_products %}
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript">
        $(document).ready(function(){
            $('#exampleModal').modal({show:true});
        });
    </script>
{% endblock %}